<?xml version="1.0" encoding="UTF-8" ?>
<phpunit bootstrap="tests/bootstrap.php" colors="true">
    <testsuite name="Phormium test suite">
        <directory>tests/Phormium/Tests</directory>
        <directory>tests/unit</directory>
    </testsuite>
    <filter>
        <whitelist>
            <directory suffix=".php">src/Phormium</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="target/coverage" charset="UTF-8" />
    </logging>
    <php>
        <const name="PHORMIUM_CONFIG_FILE" value="tests/config.json"/>
    </php>
</phpunit>
